<template>
      <BookingForm/>
</template>

<script>
// @ is an alias to /src
import SendgridService from '../_services/sendgrid.service';
import BookingForm from '../components/BookingForm.vue'

export default {
  name: "home",
  components: {
    BookingForm
  },
  methods: {
    sendEmail() {
      SendgridService.sendEmail();
    }
  }
};
</script>
