/* eslint-disable */
<template>
    <div class="form-container col-sm-12">
        <!-- Registration Form -->
        <form v-if="!success" id="BookingForm" ref="bookingForm" data-toggle="validator">
            <div class="form-group" :class="{hideInput: hideInput[0]}">
                <input v-model="firstName" type="text" class="form-control" placeholder="First name" required>
            </div>
            <div class="form-group" :class="{hideInput: hideInput[0]}">
                <input v-model="lastName" type="text" class="form-control" placeholder="Last name" required>
            </div>
            <div class="form-group" :class="{hideInput: hideInput[0]}">
                <input v-model="email" class="form-control" placeholder="Email" type="email" required>
            </div>
            <div class="form-group" :class="{hideInput: hideInput[0]}">
                <textarea v-model="message" type="text" rows="4" class="form-control" placeholder="Message"></textarea>
            </div>
        </form>
        <div v-if="success" class="confirmation-container">
            <h3>Thank you for your email!</h3>
            <h4>We will be in touch with you shortly.</h4>
        </div>
        <SubmitButton :success="bookingSubmitted" @click="submitForm"></SubmitButton>
    </div>
</template>

<script>
import SubmitButton from "../components/SubmitButton.vue";
import BookingService from "../_services/booking.service";

export default {
  name: "BookingForm",
  components: {
    SubmitButton
  },
  props: {
    msg: String
  },
  data() {
    return {
      firstName: "",
      lastName: "",
      email: "",
      message: "",
      bookingSubmitted: false,
      hideInput: [false, false, false, false, false, false],
      success: false
    };
  },
  methods: {
    submitForm() {
      const form = this.$refs["bookingForm"];
      console.log("validation started");
      if (form.checkValidity()) {
        this.animateHidingInputs();
        this.bookingSubmitted = true;
        this.bookYogaWellnessTour();
      } else {
        this.showValidationMessage();
      }
    },
    animateHidingInputs() {
      for (let i = 0; i < 4; i++) {
        this.hideInput[i] = true;
      }
      setTimeout(() => {
        this.success = true;
      }, 5000);
    },
    bookYogaWellnessTour() {
      const bookingDetails = {
        firstName: this.firstName,
        lastName: this.lastName,
        email: this.email,
        phoneNumber: this.phoneNumber,
        message: this.message
      };
      BookingService.makeBooking(bookingDetails);
    },
    showValidationMessage() {
      console.log("Invalid form");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.form-group {
  transition: opacity 3s ease-in;
  opacity: 1;
}
.hideInput {
  opacity: 0;
}
</style>
/* eslint-disable */
