<template>
    <div class="submit-button-container">
        <div @click.stop="$emit('click')" class="button submit-button">
            <div @click.stop="$emit('click')" class="text">SEND</div>
        </div>
        <div class="progress-bar"></div>
        <svg @click.stop="$emit('click')" x="0px" y="0px"
             viewBox="0 0 25 30" style="enable-background:new 0 0 25 30; cursor: pointer">
            <path ref="path" class="check st0" d="M2,19.2C5.9,23.6,9.4,28,9.4,28L23,2"/>
        </svg>
    </div>
</template>

<script>
import anime from "animejs";

export default {
  name: "SubmitButton",
  props: {
    success: Boolean
  },
  data() {
    return {
      basicTimeline: null,
      pathEl: null,
      offset: null
    };
  },
  watch: {
    success() {
      if (this.success) {
        this.play();
      }
    }
  },
  mounted() {
    this.prepareAnimation();
  },
  methods: {
    prepareAnimation() {
      const pathEls = $(".check");
      this.basicTimeline = anime.timeline({
        autoplay: false
      });

      for (var i = 0; i < pathEls.length; i++) {
        this.pathEl = pathEls[i];
        this.offset = anime.setDashoffset(this.pathEl);
        this.pathEl.setAttribute("stroke-dashoffset", this.offset);
      }

      this.basicTimeline
        .add({
          targets: ".text",
          duration: 1,
          opacity: "0"
        })
        .add({
          targets: ".submit-button",
          duration: 1300,
          height: 10,
          width: 300,
          backgroundColor: "#2B2D2F",
          border: "0",
          borderRadius: 100
        })
        .add({
          targets: ".progress-bar",
          duration: 2000,
          width: 300,
          easing: "linear"
        })
        .add({
          targets: ".submit-button",
          width: 0,
          duration: 1
        })
        .add({
          targets: ".progress-bar",
          width: 80,
          height: 80,
          delay: 500,
          duration: 750,
          borderRadius: 80,
          backgroundColor: "#71DFBE"
        })
        .add({
          targets: this.pathEl,
          strokeDashoffset: [this.offset, 0],
          duration: 200,
          easing: "easeInOutSine"
        });
    },
    play() {
      this.basicTimeline.play();
    }
  }
};
</script>

<style scoped>
body {
  background: #1d1f20;
}

.submit-button-container {
  position: relative;
  margin-top: 4em;
}

.submit-button {
  background: #21baa3;
  height: fit-content;
  width: fit-content;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 4px;
}

.text {
  font: 700 13px/1.6em "Raleway", sans-serif;
  display: inline-block;
  cursor: pointer;
  max-width: 250px;
  padding: 7px 25px 7px 25px;
  border: 2px solid #21baa3;
  border-radius: 2px;
  background-color: #21baa3;
  color: #fff;
  transition: all 0.3s ease;
}

.progress-bar {
  position: absolute;
  height: 10px;
  width: 0;
  right: 0;
  top: 50%;
  left: 50%;
  border-radius: 200px;
  transform: translateY(-50%) translateX(-50%);
  background: lighten(#2b2d2f, 15%);
}

svg {
  width: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  right: 0;
}

.check {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
}
</style>
