<template>
  <div id="app">
      <div>
          <BookingForm/>
      </div>
  </div>
</template>

<script>
import SendgridService from "./_services/sendgrid.service";
import BookingForm from "./components/BookingForm.vue";

export default {
  name: "home",
  components: {
    BookingForm
  },
  methods: {
    sendEmail() {
      SendgridService.sendEmail();
    }
  }
};
</script>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
